{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
</div>
    <div class="col-md-auto">
        <hr class="mt-0 mb-4 text-center">
        <form method="post" class='text-center'>
            {% csrf_token %}
                  <div class="input-group rounded ">
            <input type="search" class="form-control rounded" placeholder="Введите имя" name='SEARCH' aria-label="Поиск" />
            <br><br>
            <div class=" text-center">
              <button type="submit" class="btn btn-success">Найти</button>
          </div>
              <i class="fas fa-search"></i>
            </span>
          </div>
       
      </form>
        
        <form method="post" class="upper">
            {% csrf_token %}
                <table class="table table-striped table-inverse">
                    <thead>
                    <tr>
                        <th>ФИО</th>
                        <th>Логин</th>
                        <th>Текущая роль</th>
                        <th>Изменить на</th>
                        <th></th>
                    </tr>
                    </thead>
                    {% for person in userList %}
                        <form method="post">
                            {% csrf_token %}
                            <tbody>
                            <tr>
                                <td><a href='../profile/{{ person.username }}'>{{ person.last_name }} {{ person.first_name }}  {{ person.middle_name }}</a></td>
                                <td>{{ person.username }}</td>
                                <th>{{ person.role.name }}</th>
                                <td>
                                    <select class="form-control upper" id="make" name='selected_role' >
                                        {% for role in roleList %}
                                            <option  class="upper" value='{{role.id}}'>{{ role.name }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <button type="submit" name="CHANGE" class="btn btn-success upper" >Изменить</button>
                                    <input type="hidden" name="username" value="{{ person.username }}" >
                                </td>

                            </tr>
                            </tbody>
                        </form>
                        
                    {% endfor %}
                </table>
            </form>
        </form>
    </div>
{% endblock %}