{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block nav %}
{% endblock %}
{% block content %}
    <form method="post">
    {% csrf_token %}
        <h1>Авторизация</h1>
        <div class="form-group">
            <label for="exampleInputEmail1">Логин</label>
            <input type="login" class="form-control" id="exampleInputEmail1" aria-describedby="login" name='login' placeholder="Введите логин">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Пароль</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Введите пароль">
            <small id="emailHelp" class="form-text " style="color: #ff0000;">{{ error }}</small>
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-success">Войти</button>
        <a href ="{% url 'registration' %}" class="btn btn-primary btn-block">Регистрация</a>
    </form>


{% endblock %}