{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% include 'inc/_nav.html' %}
{% block content %}


<div  class="card">
<div  class="card-body">

<form  method="post" class="text-center upper">
{% csrf_token %}
  <div class="form-group ">
    <label for="formGroupExampleInput">Текущий пароль</label>
    <input type="password" name="old_password"  class="form-control" id="formGroupExampleInput" placeholder="Текущий пароль">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Новый пароль</label>
    <input type="password" name="new_password" class="form-control" id="formGroupExampleInput2" placeholder="Новый пароль">
  </div>
      <div class="form-group">
    <label for="formGroupExampleInput2">Повторите новый пароль</label>
    <input type="password" name="repeat_new_password" class="form-control" id="formGroupExampleInput2" placeholder="Новый пароль">
  </div>
<button  type="submit"  class="btn btn-success">Сменить пароль </button>
</form>
</div>
</div>

{% endblock %}