
<div class="wrapper text-center">
  <div class="container-fluid text-center">
    <div class="row">
       <div class="col-sm">
          <hr>
          <div class='header text-center'>
            <h1> История исследования </h1>
          </div>
          <table class="mkiDocList AnotherInfo table text-center upper">
            <div class='researchListInMeeting text-center col align-self-center'>
                <thead class='text-center'>
                    <tr class='text-center'>
                      <th scope="col">Действие</th>
                      <th scope="col" class='text-center'>Дата</th>
                    </tr>
                </thead>
              <tbody>
                <tr>
                  <th scope="row">{{ log.condition }}</th> 
                  <td>{{ log.datetime }}</td>
                </tr>
              </tbody>
            </div>
          </table>
        </div>
    </div>
  </div>
</div>